#galeria {
  padding: 3rem 1rem;
  text-align: center;
}

#galeria h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #222;
}

.grid-gallery {
  display : grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}


.grid-gallery img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  
  border-radius: 15px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  
  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease,
    filter 0.3s ease;
}


.grid-gallery img:hover {
  transform: scale(1.05);
  filter: brightness(1.15);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.25);
}
