html, body, #root {
  margin: 0 ;
  padding: 0 ;
  width: 100% ;
  overflow-x: hidden ;
}

body {
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F5F5F5;
  color: #333;
}

header {
  width: 100%;
  background-color: #0f0f0f;
  color: white;
  padding: 0;
  margin: 0;
}

.logo img {
  height: 100px;
  width: auto;
  padding: 10px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #007BFF;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0.5rem;
  }

  .logo img {
    height: 70px;
  }
}

/* Hero */
#hero {
  text-align: center;
  padding: 2rem;  
}

#hero img {
  width: 100%;
  max-width: 900px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

footer {
  background-color: #272727;
  color: white;
  text-align: center;
  padding: 0.5rem;
  margin-top: 0;
}

.titulo-home {
  font-size: 2rem;
  color: #222;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

.subtitulo-home {
  font-size: 1.1rem;
  color: #555;
  text-align: center;
  margin-top: 0.5rem;
}

.productos {
  padding: 2rem;
  text-align: center;
}

.grid {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 15x;
  padding: 1rem;
  width: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: transform 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card button {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  border: none;
  background: #e60023;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background: #c0001b;
}
.page {
  padding: 0; 
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}
html, body, #root, .app-container {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
}

main.page {
  flex: 1;
}
.about {
  text-align: center;     
  max-width: 800px;       
  margin: 2rem auto;      
  padding: 1rem;
}
